pipeline/DeleteHistory.json
{
	"name": "DeleteHistory",
	"properties": {
		"description": "Only deleting Historical Folder.  This is only needed for reloading of data",
		"activities": [
			{
				"name": "CheckIfFolderExists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "archivesource",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.dataLakeContainer",
								"type": "Expression"
							},
							"directory": {
								"value": "@concat(pipeline().parameters.dataLakeFolder\n    ,'/',pipeline().parameters.sourceTable)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If Condition",
				"description": "Check if source folder exists. If yes, then delete history",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckIfFolderExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CheckIfFolderExists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "DeleteFolder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 4,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.dataLakeContainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(\npipeline().parameters.dataLakeFolder\n,'/',pipeline().parameters.sourceTable\n)",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"maxConcurrentConnections": 8,
									"recursive": true,
									"wildcardFileName": "*.*",
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "WaitSuccess",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "DeleteFolder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "Run Failed Delete",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "DeleteFolder",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SendEmailNotification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"titleMessage": "Historical DataLake Delete Folder ERROR",
									"message": {
										"value": "@activity('DeleteFolder').error.message",
										"type": "Expression"
									},
									"color": "Red",
									"tableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityName": "DeleteFolder"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"dataLakeContainer": {
				"type": "string"
			},
			"dataLakeFolder": {
				"type": "string"
			},
			"sourceTable": {
				"type": "string"
			}
		},
		"folder": {
			"name": "DataLake Historical Load"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-31T03:02:47Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}